@keyframes swipe {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 20px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 0px;
    }
}

@keyframes jump {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 0px;
        top: 10px;
    }

    50% {
        left: 0px;
        top: 0px;
    }
}

h1 table h2 h3 .nav {
    transition: all .2s ease-in-out;
}

.logo {
    transition: all .1s ease-in-out;
}

h1:hover h2:hover .nav:hover table:hover h3:hover {
    transform: scale(1.018);
}

.logo:hover {
    transform: scale(1.05);
    transform:rotate(360deg);
}

table {
    position: relative;
    animation-name: swipe;
    animation-duration: .5s;
}

img {
    width: 67%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 450px;
    position: relative;
    animation-name: jump;
    animation-duration: .5s;
}